*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
:root {
 --header-height: 3.5rem;
 --black-color: #7a69d9;
 --black-color-light: #62429f;
 --black-color-lighten: #6C757D;
 --white-color: #fff;
 --body-color: hsl(220, 100%, 97%);
 --normal-font-size: .938rem;
 --font-regular: 400;
 --font-semi-bold: 600;
 --z-tooltip: 10;
 --z-fixed: 100;
}
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
 max-width: 1120px;
 margin-inline: 1.5rem;
}
/* Button */
.btn-hero-con {
 margin-top: 10px;
}
.btn-rawr {
 padding: 12px 25px;
 border-radius: 25px;
 border: none;
 background: white;
 color: #7a69d9;
 font-size: 16px;
 cursor: pointer;
 transition: all 0.3s ease-in-out;
 display: flex;
 align-items: center;
 gap: 10px;
 font-family: "Poppins", sans-serif;
 font-weight: 400;
}
.btn-rawr:hover {
 box-shadow: 0px 5px 15px rgba(122, 105, 217, 0.4);
}
.btn-rawr i {
 transition: transform 0.3s ease-in-out;
}
.btn-rawr:hover i {
 transform: translateY(3px);
}
/*=============== HEADER ===============*/
.btn-daftar{
 padding: 1px 1px;
}
.header {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 background-color: var(--black-color);
 box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
 z-index: var(--z-fixed);
}
/*=============== NAV ===============*/
.nav {
 height: var(--header-height);
}
.nav__logo, 
.nav__burger, 
.nav__close {
 color: var(--white-color);
}
.nav__data {
 height: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.nav__logo {
 display: inline-flex;
 align-items: center;
 column-gap: .25rem;
 font-weight: bold;
 font-size: 20px;
 margin-right: 20px;
 padding-right: 20px;
 border-right: 1px solid rgba(250, 250, 250, 0.3);
}
.nav__logo i {
 font-weight: initial;
 font-size: 1.25rem;
}
.nav__toggle {
 position: relative;
 width: 32px;
 height: 32px;
}
.nav__burger, 
.nav__close {
 position: absolute;
 width: max-content;
 height: max-content;
 inset: 0;
 margin: auto;
 font-size: 1.25rem;
 cursor: pointer;
 transition: opacity .1s, transform .4s;
}
.nav__close {
 opacity: 0;
}
.search-input{
 position: relative;
 display: flex;
 align-items: center;
 width: 100%;
 max-width: 300px;
 margin-top: 22px;
}
.search-input input{
 border: 0;
 color: white;
 padding: 10px 10px;
 border-radius: 100px;
 background-color: rgba(255, 255, 255, 0.1);
}
.search-input input::placeholder{
 color: rgb(255, 255, 255, 0.4);
}
.search-input i {
 position: absolute;
 right: 15px;
 color: #fff;
 font-size: 16px;
 cursor: pointer;
}
.btn-hero-conn {
 margin-top: 22px;
}
.btn-rawrr {
 padding: 10px 16px;
 border-radius: 25px;
 border: none;
 background: white;
 color: #7a69d9;
 font-size: 16px;
 cursor: pointer;
 transition: all 0.3s ease-in-out;
 display: flex;
 align-items: center;
 gap: 10px;
 font-family: "Poppins", sans-serif;
 font-weight: 400;
}
.btn-rawrr:hover {
 box-shadow: 0px 5px 15px rgba(122, 105, 217, 0.4);
}
.btn-rawrr i {
 transition: transform 0.3s ease-in-out;
}
.btn-rawrr:hover i {
 transform: translateY(3px);
}
/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
 .nav__menu {
   position: absolute;
   left: 0;
   top: 2.5rem;
   width: 100%;
   height: calc(100vh - 3.5rem);
   overflow: auto;
   pointer-events: none;
   opacity: 0;
   transition: top .4s, opacity .3s;
 }
 .nav__menu::-webkit-scrollbar {
   width: 0;
 }
 .nav__list {
   background-color: var(--black-color);
   padding-top: 1rem;
 }
 .search-input{
   display: none;
 }
 .btn-hero-conn{
   display: none;
 }
}
.nav__link {
 color: var(--white-color);
 background-color: var(--black-color);
 font-weight: var(--font-semi-bold);
 padding: 10px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 transition: background-color .3s;
}
.nav__link:hover {
 background-color: var(--black-color-light);
}
/* Show menu */
.show-menu {
 opacity: 1;
 top: 3.5rem;
 pointer-events: initial;
}
/* Show icon */
.show-icon .nav__burger {
 opacity: 0;
 transform: rotate(90deg);
}
.show-icon .nav__close {
 opacity: 1;
 transform: rotate(90deg);
}
/*=============== DROPDOWN ===============*/
.dropdown__item {
 cursor: pointer;
}
.dropdown__arrow {
 font-size: 1.25rem;
 font-weight: initial;
 transition: transform .4s;
}
.dropdown__link{
 padding: 1.25rem 1.25rem 1.25rem 2.5rem;
 color: var(--white-color);
 background-color: var(--black-color-light);
 display: flex;
 align-items: center;
 column-gap: .5rem;
 font-weight: var(--font-semi-bold);
 transition: background-color .3s;
}
.dropdown__link i{
 font-size: 1.25rem;
 font-weight: initial;
}
.dropdown__link:hover{
 background-color: var(--black-color);
}
.dropdown__menu{
 max-height: 0;
 overflow: hidden;
 transition: max-height .4s ease-out;
}
/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu {
 max-height: 1000px;
 transition: max-height .4s ease-in;
}
/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
 transform: rotate(180deg);
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
 .container {
   margin-inline: 1rem;
 }

 .nav__link {
   padding-inline: 1rem;
 }
 .search-input{
   display: none;
 }
 .btn-hero-conn{
   display: none;
 }
}

/* For large devices */
@media screen and (min-width: 1118px) {
 .container {
   margin-inline: auto;
 }

 .nav {
   height: calc(var(--header-height) + 2rem);
   display: flex;
   justify-content: space-between;
 }
 .nav__toggle {
   display: none;
 }
 .nav__list {
   height: 100%;
   display: flex;
   column-gap: 3rem;
 }
 .nav__link {
   height: 100%;
   padding: 0;
   justify-content: initial;
   column-gap: .25rem;
 }
 .nav__link:hover {
   background-color: transparent;
 }

 .dropdown__item, 
 .dropdown__subitem {
   position: relative;
 }
 .dropdown__menu, 
 .dropdown__submenu {
   max-height: initial;
   overflow: initial;
   position: absolute;
   left: 0;
   top: 6rem;
   opacity: 0;
   pointer-events: none;
   transition: opacity .3s, top .3s;
 }

 .dropdown__link, 
 .dropdown__sublink {
   padding-inline: 1rem 3.5rem;
 }

 .dropdown__subitem .dropdown__link {
   padding-inline: 1rem;
 }
 /* Show dropdown menu */
 .dropdown__item:hover .dropdown__menu {
   opacity: 1;
   top: 5.5rem;
   pointer-events: initial;
   transition: top .3s;
 }
}
/* berita */
/* main berita */
.beritaa {
 display: flex;
 gap: 50px;
 padding: 40px 5%;
 max-width: 1200px;
 margin: auto;
 flex-wrap: wrap;
}
.main-berita {
 flex: 1 1 65%;
 margin-top: 60px;
}
.judul-berita {
 font-size: 2rem;
 margin-bottom: 10px;
 color: #333;
}
.date-berita {
 font-size: 0.9rem;
 color: #888;
 margin-bottom: 20px;
}
.gambar-berita {
 width: 100%;
 border-radius: 10px;
 margin-bottom: 20px;
}
.main-berita p {
 line-height: 30px;
 color: #444;
 padding-top: 10px;
}
/* sidebar berita */
.sidebar-berita {
 flex: 1 1 20%;
 position: sticky;
 top: 100px;
 align-self: start;
 margin-left: 20px;
}
.sidebar-berita h2 {
 margin-bottom: 15px;
 font-size: 25px;
 border-bottom: 2px solid #eee;
 padding-bottom: 5px;
}
.sidebar-berita ul {
 list-style: none;
 padding: 0;
}
.sidebar-berita ul li {
 margin-bottom: 15px;
 list-style-type:disc;
}
.sidebar-berita ul li a {
 color: #333;
 text-decoration: none;
 font-weight: 500;
}
.sidebar-berita ul li span {
 display: block;
 font-size: 0.8rem;
 color: #888;
}
.popular-news ul li{
  list-style: none;
}
.pop-news{
  display: flex;
  justify-content: flex-start;
 }
 .pop-news .img-pop img{
  width: 70px;
  height: auto;
  border-radius: 10px;
 }
 .pop-news .text-pop{
  margin-left: 20px;
 }
 .pop-news .text-pop h4{
  font-weight: 600;
 }
 .pop-news .text-pop p{
  color: rgb(79, 77, 77);
  font-size: small;
 }
 .pop-news .text-pop a{
  color: #7a69d9;
  font-size: small;
 }
/* berita lainnya */
/* berita */
.berita{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.container5 {
  max-width: 1200px;
  padding: 20px;
  margin-top: 20px;
}
.container5 h1{
  font-size: 40px;
  margin-bottom: 20px;
  text-align: left;
}
.wrapper5{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 20px;
}
.berita-box .thumb {
  position: relative;
  border-radius: 25px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  overflow: hidden;
}
.berita-box .thumb img {
  margin-bottom: -5px;
  width: 100%;
  max-width: 100%;
}
.berita-box .thumb span.date {
  position: absolute;
  left: 30px;
  top: 30px;
  font-size: 14px;
  text-transform: uppercase;
  color: #7a6ad8;
  background-color: rgba(250, 250, 250, 0.95);
  padding: 8px 20px;
  border-radius: 25px;
  font-weight: 500;
  display: inline-block;
}
.berita-box {
  background-color: #f1f0fe;
  border-radius: 25px;
  margin-bottom: 30px;
  position: relative;
  justify-content: center;
  align-items: center;
} 
.berita-box .down-content {
  padding: 20px 30px 25px 30px;
}
.berita-box .down-content span.author {
  color: #7a6ad8;
  font-size: 15px;
  display: inline-block;
  margin-bottom: 6px;
}
.berita-box .down-content h4 {
  font-size: 22px;
  font-weight: 600;
  transition: all .3s;
}
.berita-box:hover .down-content h4 {
  color: #7a6ad8;
  cursor: pointer;
}
.berita-box .down-content p {
  font-size: 16px;
  transition: all .3s;
  color: rgb(79, 77, 77);
  margin-top: 10px;
}
.berita-box:hover .thumb span.price {
  transform: scale(1.2);
}
@media (max-width: 768px) {
  .container5 h1{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  .wrapper5 {
    grid-template-columns: 1fr; 
    gap: 15px;
    padding: 0 10px;
  }
  .berita-box {
    margin-bottom: 20px;
  }
  .berita-box .thumb img {
    width: 100%;
    height: auto;
    display: block;
  }
  .berita-box .down-content {
    padding: 15px 20px;
  }
  .berita-box .down-content h4 {
    font-size: 18px;
  }
}
/* comment */
.comment{
  background-color: #f1f0fe;
  padding: 25px;
  overflow: hidden;
}
.container8{
  max-width: 1200px;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
}
.comment-wrap{
  display: flex;
  flex-direction: column;
}
.comment-wrap input,
.comment-wrap textarea{
  padding: 20px;
  border-radius: 10px;
  border: 0;
  margin-top: 10px;
}
/* footer */
.footer {
  background-color: #7a6ad8;
  color: white;
  padding: 40px 20px;
  margin-top: 100px;
  position: relative;
  text-align: center;
}
.footer::before {
  background: url('img/contact-dec-01.png');
  position: absolute;
  left: 30px;
  transform: rotate(180deg);
  opacity: 1;
  bottom: 0;
  width: 318px;
  height: 119px;
  content: "";
  z-index: 2;
}
.container7 {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}
.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  width: 100%;
}
.footer-box h3 {
  font-size: 20px;
  margin-bottom: 15px;
}
.footer-box ul {
  list-style: none;
  padding: 0;
}
.footer-box ul li {
  margin-bottom: 10px;
}
.footer-box ul li a {
  color: white;
  text-decoration: none;
  display: block;
  transition: 0.3s ease-in-out;
}
.footer-box ul li a:hover {
  transform: translateX(10px);
}
.social-icons a {
  display: block;
  color: white;
  margin-bottom: 10px;
  text-decoration: none;
  transition: 0.3s;
}
.social-icons a:hover {
  color: var(--black-color-light);
}
.footer-bottom {
  margin-top: 20px;
  font-size: 17px;
  text-align: center;
}
.footer-bottom iframe{
  width: 100%;
  max-width: 100%;
  height: 250px;
  border-radius: 10px;
  border: 0;
}
/* Responsiveness */
@media (max-width: 1170px) {
  .footer-bottom iframe{
    width: 700px;
    height: 337px;
  }
}
@media (max-width: 768px) {
  .footer-content {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-content: center;
    width: 100%;
  }
  .footer-box {
    flex: none;
    width: 100%;
  }
  .social-icons {
    justify-content: center;
  }
  .footer-bottom iframe{
    width: 500px;
    height: 337px;
  }
}
@media (max-width: 525px) {
  .footer-content {
    grid-template-columns: 1fr; 
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .footer-box {
    flex: none;
    width: 100%;
  }
  .social-icons {
    justify-content: center;
  }
}
@media (max-width: 347px){.footer::before {
  background: none;
  position: none;
  left: 0px;
  transform: none;
  opacity: 0;
  bottom: 0;
  width: 0;
  height: 0;
  content: "";
  z-index: 0;
}
}
/* sticky icon wa */
.wa-help {
  display: flex;
  align-items: center;
  background-color: #f1f5f9;
  padding: 10px 15px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  max-width: 250px;
  float: right;
  position: fixed;
  z-index: 1111;
  bottom: 20px; 
  right: 20px; 
}
.wa-text p {
  margin: 0;
  font-size: 14px;
  color: #333;
}
.wa-text strong {
  color: #7a69d9;
}
.wa-icon {
  margin-left: 10px;
  background-color: #25D366;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}
.wa-icon:hover {
  transform: scale(1.1);
}
.wa-icon img {
  width: 24px;
  height: 24px;
}
