*{
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
   list-style: none;
   text-decoration: none;
   font-family: "Poppins", sans-serif;
}
:root {
  --header-height: 3.5rem;
  --black-color: #7a69d9;
  --black-color-light: #62429f;
  --black-color-lighten: #6C757D;
  --white-color: #fff;
  --body-color: hsl(220, 100%, 97%);
  --normal-font-size: .938rem;
  --font-regular: 400;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
}
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}
/* Button */
.btn-hero-con {
  margin-top: 10px;
}
.btn-rawr {
  padding: 12px 25px;
  border-radius: 25px;
  border: none;
  background: white;
  color: #7a69d9;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.btn-rawr:hover {
  box-shadow: 0px 5px 15px rgba(122, 105, 217, 0.4);
}
.btn-rawr i {
  transition: transform 0.3s ease-in-out;
}
.btn-rawr:hover i {
  transform: translateY(3px);
}
/*=============== HEADER ===============*/
.btn-daftar{
  padding: 1px 1px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black-color);
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
  z-index: var(--z-fixed);
}
/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
}
.nav__logo, 
.nav__burger, 
.nav__close {
  color: var(--white-color);
}
.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid rgba(250, 250, 250, 0.3);
}
.nav__logo i {
  font-weight: initial;
  font-size: 1.25rem;
}
.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}
.nav__burger, 
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity .1s, transform .4s;
}
.nav__close {
  opacity: 0;
}
.search-input{
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin-top: 22px;
}
.search-input input{
  border: 0;
  color: white;
  padding: 10px 10px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.1);
}
.search-input input::placeholder{
  color: rgb(255, 255, 255, 0.4);
}
.search-input i {
  position: absolute;
  right: 15px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.btn-hero-conn {
  margin-top: 22px;
}
.btn-rawrr {
  padding: 10px 16px;
  border-radius: 25px;
  border: none;
  background: white;
  color: #7a69d9;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.btn-rawrr:hover {
  box-shadow: 0px 5px 15px rgba(122, 105, 217, 0.4);
}
.btn-rawrr i {
  transition: transform 0.3s ease-in-out;
}
.btn-rawrr:hover i {
  transform: translateY(3px);
}
/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top .4s, opacity .3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: var(--black-color);
    padding-top: 1rem;
  }
  .search-input{
    display: none;
  }
  .btn-hero-conn{
    display: none;
  }
}
.nav__link {
  color: var(--white-color);
  background-color: var(--black-color);
  font-weight: 500;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .3s;
}
.nav__link:hover {
  background-color: var(--black-color-light);
}
.nav__link.active {
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.3s ease;
}
.nav__link.active {
  position: relative;
}
/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}
/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}
/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
}
.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform .4s;
}
.dropdown__link{
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: var(--white-color);
  background-color: var(--black-color-light);
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-semi-bold);
  transition: background-color .3s;
}
.dropdown__link i{
  font-size: 1.25rem;
  font-weight: initial;
}
.dropdown__link:hover{
  background-color: var(--black-color);
}
.dropdown__menu{
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease-out;
}
/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu {
  max-height: 1000px;
  transition: max-height .4s ease-in;
}
/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }
  .search-input{
    display: none;
  }
  .btn-hero-conn{
    display: none;
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: .25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }

  .dropdown__item, 
  .dropdown__subitem {
    position: relative;
  }

  .dropdown__menu, 
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s, top .3s;
  }

  .dropdown__link, 
  .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
  }

  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }
  /* Show dropdown menu */
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 5.5rem;
    pointer-events: initial;
    transition: top .3s;
  }
}
/* hero */
.hero{
  background: #ffffff; 
  padding: 50px 0;
}
.container1 {
  max-width: 1200px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
}
.container1 h1{
  text-align: center;
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #7a69d9;
}
.container1 p{
  line-height: 27px;
  color: rgb(79, 77, 77);
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.wrapper1{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr ));
  margin-top: 60px;
  gap: 20px;
  justify-content: center;
}
.wrapper1 .card{
  background: #f1f0fe;
  border-radius: 25px;
  text-align: center;
}
.card-img{
  width: 100%;
}
.card-img img{
  width: 100%;
  border-radius: 25px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.card-title{
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  transition: all .3s;
  padding-top: 3px;
}
.card-text{
  font-size: 14px;
  line-height: 20px;
  padding: 0 10px 10px 10px;
}
.card:hover .card-title {
  color: #7a6ad8;
  cursor: pointer;
}
@media screen and (max-width: 425px){
  .container1 h1{
    text-align: center;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
  }
  .container1 p{
    line-height: 24px;
    color: rgb(79, 77, 77);
    font-family: "Poppins", sans-serif;
    text-align: center;
  }
  .card{
    margin: auto;
  }
}
/* about/why choose us */
.about{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container2{
  max-width: 1200px;
  padding: 20px;
  margin-top: 60px;
}
.wrapper2{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.faqs {
  padding-bottom: 50px;
  padding-top: 50px;
  background: #7a69d9;
  border-radius: 50px;
  width: 50%;
}
.wrapperrrr {
  background-color: #fff;
  margin-bottom:14.5px;
  padding:15px 40px;
  border-radius: 50px;
  margin-right:69px;
  margin-left:69px;
}
.toggle {
  width:100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size:19px;
  color:rgb(4, 4, 4);
  font-weight:629;
  border:none;
  outline:none;
  cursor:pointer;
  padding:15px 0;
}
.toggle h3{
  font-size: 16px;
}
.toggle .icon{
  font-size: 17px;
  background-color: #7a69d9;
  color: white;
  padding: 10px 14px;
  border-radius: 100%;
}
.content {
  position: relative;
  text-align: justify;
  height:0;
  overflow: hidden;
  transition: all 1s;
  color: rgb(79, 77, 77);
  font-size:16px;
  line-height: 26px;
}
.abt{
  background-color: #f1f0fe;
  width: 40%;
  min-height: 150px;
  padding: 10px 10px;
}
.box2-wrap{
  padding: 30px 40px;
}
.box2-wrap small{
  color: #7a69d9;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.box2-wrap h1{
  font-size: 40px;
  margin-top: 20px;
}
.box2-wrap p{
  line-height: 26px;
  color: rgb(79, 77, 77);
  margin-top: 20px;
}
/* for tablet & mobile */
@media screen and (max-width: 768px) {
  .wrapper2{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .faqs{
    width: 100%;
    padding: 30px 20px;
    border-radius: 20px;
  }
  .wrapperrrr {
    margin: 10px;
    padding: 15px 20px;
    border-radius: 20px;
  }
  .abt{
    width: 100%;
    min-height: auto;
    padding: 20px 20px;
  }
  .abt h1{
    font-size: 22px;
  }
  .abt p{
    font-size: 16px;
    margin-top: 10px;
  }
  .abt:before {
    display: none;
  }
}
/* fasilitas */
.fasilitas{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container4 {
  max-width: 1200px;
  padding: 20px;
  margin-top: 100px;
}
.fasilitas h1 {
  font-size: 50px;
  text-align: center;
  color: #7a69d9;
  font-weight: bold;
}
.fasilitas p{
  font-size: 18px;
  transition: all .3s;
  color: rgb(79, 77, 77);
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}
.grid-item {
  background: #f1f0fe;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}
.grid-item img {
  max-width: 100%;
  border-radius: 10px;
}
.grid-item a {
  margin-top: 10px;
  transition: 0.5s;
  font-weight: 500;
  color: black;
}
.grid-item a:hover{
  color: #7a6ad8;
  cursor: pointer;
}
@media screen and (max-width: 768px){
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
  }
  .fasilitas h1 {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 400px){
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-content: center;
  }
}
/* pengajar */
.pengajar{
  text-align: center;
}
.container5 {
  max-width: 1200px;
  padding: 20px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
.container5 h1{
  font-size: 50px;
  text-align: center;
  color: #7a69d9;
  font-weight: bold;
}
.container5 p{
  font-size: 18px;
  transition: all .3s;
  color: rgb(79, 77, 77);
}
.carousel-cell {
  background-color: #f3efff;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  width: 250px;
  height: 350px;
  margin-right: 15px;
  margin-top: 20px;
  align-items: stretch;
}
.carousel-cell img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  position: static;
  transition: all 0.3s;
}
.carousel-cell img:hover{
  top: -120px;
}
.pengajar-mem{
  flex-grow: 1;
}
.main-contentt{
  border-radius: 25px;
  background-color: #f1f0fe;
  text-align: center;
  position: relative;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.main-contentt span.kategori{
  color:#7a6ad8;
  font-size: 15px;
}
.main-contentt h4{
  font-size: 22px;
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 15px;
}
.main-contentt p{
  font-size: 16px;
  transition: all .3s;
  color: rgb(79, 77, 77);
}
.main-contentt ul li{
  display: inline-block;
  margin: 0px 2px;
  margin-top: 10px;
}
.main-contentt ul li a{
  background-color: #fff;
  color: #7a6ad8;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.3s;
}
@media (max-width: 884px) {
  .wrapper8 {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 20px;
  }
  .carousel-cell{
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .wrapper8 {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 10px;
  }
  .carousel-cell{
    margin-top: 20px;
  }
}
@media (max-width: 576px) {
  .wrapper8 {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .carousel-cell{
    margin-top: 20px;
    width: 230px;
    padding: 25px;
  }
  .container5 h1{
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
  }
  .container5 p{
    font-size: 16px;
    line-height: 24px;
    transition: all .3s;
    color: rgb(79, 77, 77);
  }
  .main-contentt h4{
    font-size: 20px;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 15px;
  }
  .main-contentt p{
    font-size: 16px;
    transition: all .3s;
    color: rgb(79, 77, 77);
  }
}

/* prestasi */
.prestasi{
  background: #ffffff; 
  padding: 50px 0;
}
.container3 {
  max-width: 1200px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  }
.container3 h1{
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #7a69d9;
  }
.container3 p{
  font-size: 18px;
  transition: all .3s;
  color: rgb(79, 77, 77);
  text-align: center;
}
.wrapper3{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
}
.card-prestasi{
  background-color: #f1f0fe;
  padding: 50px 20px;
  position: relative;
  margin-top: 100px;
}
.card-prestasi .img-pres img{
  max-width: 120px;
  border-radius: 50%;
  position: absolute;
  top: -80px;
  left: 60%;
  transform: translateX(-100px);
  transition: all 0.3s;
}
.card-prestasi h1{
  font-size: 20px;
}
.award {
  color: blue;
  font-weight: 600;
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 20px;
}
.award img{
  width: 40px;
}
.award span {
  margin-left: 5px;
}
.details {
  border-top: 1px solid #424141;
  padding-top: 10px;
}
.row {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  font-size: 14px;
}
.label {
  color: #888;
}
.value {
  font-weight: 500;
}
.pagination{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
button{
  padding: 8px 12px;
  border: 0;
  outline: 0;
  background-color: #7a69d9;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 17px;
  }
  button a{
  color: white;
  }
}
@media (max-width: 576px) {
  .container3 h1{
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
  }
  .container3 p{
  font-size: 16px;
  line-height: 24px;
  transition: all .3s;
  color: rgb(79, 77, 77);
 }
}
  

/* cta */
.cta {
  color: white;
  margin-top: 100px;
  position: relative;
  background-color: #f1f0fe;
  padding: 20px;
}
.container6 {
  max-width: 1200px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}
.wrapper6{
  color: #7a6ad8;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.wrapper6 h1{
  font-size: 50px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.wrapper6 p{
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  align-items: center;
  text-align: center;
  padding-bottom: 10px;
}
.box-cta1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box-cta2 img{
  max-width: 600px;
}
@media screen and (max-width: 768px){
  .wrapper6{
    color: #7a6ad8;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .wrapper6 h1{
    font-size: 30px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    text-align: center;
  }
  .wrapper6 p{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    align-items: center;
    text-align: center;
  }
  .box-cta2 img{
    max-width: 300px;
  }
}
@media screen and (max-width: 500px){
  .wrapper6{
    color: #7a6ad8;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .wrapper6 h1{
    font-size: 25px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    text-align: center;
  }
  .wrapper6 p{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    align-items: center;
    text-align: center;
  }
  .box-cta2 img{
    max-width: 300px;
  }
}
/* sticky icon wa */
.wa-help {
  display: flex;
  align-items: center;
  background-color: #f1f5f9;
  padding: 10px 15px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  max-width: 250px;
  float: right;
  position: fixed;
  z-index: 1111;
  bottom: 20px; 
  right: 20px; 
}
.wa-text p {
  margin: 0;
  font-size: 14px;
  color: #333;
}
.wa-text strong {
  color: #7a69d9;
}
.wa-icon {
  margin-left: 10px;
  background-color: #25D366;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}
.wa-icon:hover {
  transform: scale(1.1);
}
.wa-icon img {
  width: 24px;
  height: 24px;
}
/* footer */
.footer {
  background-color: #7a6ad8;
  color: white;
  padding: 40px 20px;
  margin-top: 100px;
  position: relative;
  text-align: center;
}
.footer::before {
  background: url('img/contact-dec-01.png');
  position: absolute;
  left: 30px;
  transform: rotate(180deg);
  opacity: 1;
  bottom: 0;
  width: 318px;
  height: 119px;
  content: "";
  z-index: 2;
}
.container7 {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}
.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  width: 100%;
}
.footer-box h3 {
  font-size: 20px;
  margin-bottom: 15px;
}
.footer-box ul {
  list-style: none;
  padding: 0;
}
.footer-box ul li {
  margin-bottom: 10px;
}
.footer-box ul li a {
  color: white;
  text-decoration: none;
  display: block;
  transition: 0.3s ease-in-out;
}
.footer-box ul li a:hover {
  transform: translateX(10px);
}
.social-icons a {
  display: block;
  color: white;
  margin-bottom: 10px;
  text-decoration: none;
  transition: 0.3s;
}
.social-icons a:hover {
  color: var(--black-color-light);
}
.footer-bottom {
  margin-top: 20px;
  font-size: 17px;
  text-align: center;
}
.footer-bottom iframe{
  width: 100%;
  max-width: 100%;
  height: 250px;
  border-radius: 10px;
  border: 0;
}
/* Responsiveness */
@media (max-width: 1170px) {
  .footer-bottom iframe{
    width: 700px;
    height: 337px;
  }
}
@media (max-width: 768px) {
  .footer-content {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-content: center;
    width: 100%;
  }
  .footer-box {
    flex: none;
    width: 100%;
  }
  .social-icons {
    justify-content: center;
  }
  .footer-bottom iframe{
    width: 500px;
    height: 337px;
  }
}
@media (max-width: 525px) {
  .footer-content {
    grid-template-columns: 1fr; 
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .footer-box {
    flex: none;
    width: 100%;
  }
  .social-icons {
    justify-content: center;
  }
}
@media (max-width: 347px){.footer::before {
  background: none;
  position: none;
  left: 0px;
  transform: none;
  opacity: 0;
  bottom: 0;
  width: 0;
  height: 0;
  content: "";
  z-index: 0;
}
}
/* sticky icon wa */
.wa-help {
  display: flex;
  align-items: center;
  background-color: #f1f5f9;
  padding: 10px 15px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  max-width: 250px;
  float: right;
  position: fixed;
  z-index: 1111;
  bottom: 20px; 
  right: 20px; 
}
.wa-text p {
  margin: 0;
  font-size: 14px;
  color: #333;
}
.wa-text strong {
  color: #7a69d9;
}
.wa-icon {
  margin-left: 10px;
  background-color: #25D366;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}
.wa-icon:hover {
  transform: scale(1.1);
}
.wa-icon img {
  width: 24px;
  height: 24px;
}
